version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - frizzly-network

  api:
    build: ./api
    container_name: flask-api
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/
    depends_on:
      - mongodb
    networks:
      - frizzly-network

networks:
  frizzly-network:
    driver: bridge

volumes:
  mongodb_data:
